footer{
    p{
        color: #707070;
    }
    
    .nav{
        width: 130px;

        &-link-icons{
            width: 30px;
            height: 25px;
        }
    }

    .footer{
        .nav-link{
            color: #707070;
        }
    }
}